.square {
	height: 35px; width: 35px;
	background-color: blue;
	display: inline-block;
	margin: auto;
	float: left;
}

.square:hover{
	background-color: red;
}

.container {
	height: 575px;
	margin: auto;
	background-color: green;
	padding-left:350px;
}